<?xml version="1.0" encoding="UTF8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<description>Struts2.3.16+Spring3.2.8+Hibernate4.2.11</description>
	<display-name>Zhibing_SSH</display-name>
  
  <!-- spring config (read two xml files) -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-core.xml,classpath:spring-hibernate.xml</param-value>
	</context-param>
	<!-- openSessionInView config -->
	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!-- Struts2 config -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<!-- character encoding config -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>errorImgFilter</filter-name>
		<filter-class>rml.filter.ErrorImgFilter</filter-class>
	</filter>
	<!-- openSessionInViewFilter should be before struts2-->
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>errorImgFilter</filter-name>
		<url-pattern>/upload/*</url-pattern>
	</filter-mapping>
	<!-- spring listener -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- repaire database listener (should after spring listener)-->
	<listener>
		<listener-class>rml.listener.RepairListener</listener-class>
	</listener>
	<listener>
		<listener-class>rml.listener.OnlineListener</listener-class>
	</listener>
	<!-- session timeout -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- config error page -->
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error/404.jsp</location>
	</error-page>
	<!-- default homepage -->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>
